<nz-row>
  <nz-col>
    <nz-row class="cart-item" *ngFor="let product of cart" nzAlign="middle">
      <nz-col>
        <img nz-row class="img" src="{{ product.url }}" />
      </nz-col>
      <nz-col class="cart-item-details">
        <nz-row>
          <h3>{{ product.name }}</h3>
        </nz-row>
        <nz-row>
          <p>${{ product.price }}</p>
        </nz-row>
        <nz-row nzAlign="middle">
          Amount:
          <nz-input-number
            [(ngModel)]="product.quantity"
            [nzMin]="1"
            [nzMax]="10"
            [nzStep]="1"
            class="number-input"
          ></nz-input-number>
        </nz-row>
      </nz-col>
    </nz-row>
    <nz-row>
      <h1>Total: $</h1>
    </nz-row>
  </nz-col>
  <nz-col>
    <form>
      <nz-row> Full name </nz-row>
      <nz-row>
        <input
          type="text"
          name="userName"
          placeholder="(minimum 3 characters)"
          required
          minlength="3"
          [(ngModel)]="userName"
        />
      </nz-row>
      <nz-row> Address </nz-row>
      <nz-row>
        <input
          type="text"
          name="address"
          placeholder="(minimum 6 characters)"
          required
          minlength="6"
          [(ngModel)]="address"
        />
      </nz-row>
    </form>
  </nz-col>
</nz-row>
