<div>
  <nz-row nzJustify="center" nzAlign="middle">
    <img nz-row class="product-image" src="{{ product.url }}" />
  </nz-row>
  <nz-row nzJustify="center" nzAlign="middle">
    <h4>{{ product.name }}</h4>
  </nz-row>
  <nz-row nzJustify="center" nzAlign="middle">
    <p>${{ product.price }}</p>
  </nz-row>
  <nz-row nzJustify="center" nzAlign="middle">
    <nz-select></nz-select>
  </nz-row>
  <nz-row nzJustify="center" nzAlign="middle">
    <button nz-col nz-button nzType="primary">Add to cart</button>
  </nz-row>
</div>
