<nz-row nzJustify="center" nzAlign="middle">
  <nz-col class="detail-container">
    <img src="{{ product?.url }}" />
  </nz-col>
  <nz-col class="detail-container">
    <nz-row>
      <h1>{{ product?.name }}</h1>
    </nz-row>
    <nz-row>
      <p>${{ product?.price }}</p>
    </nz-row>
    <nz-row>
      <p>{{ product?.description }}</p>
    </nz-row>
    <nz-row>
      <nz-select [(ngModel)]="selectedOption">
        <nz-option
          *ngFor="let option of options"
          [nzValue]="option"
          [nzLabel]="option"
        ></nz-option>
      </nz-select>
    </nz-row>
    <nz-row class="margin-top-2">
      <button nz-col nz-button nzType="primary" (click)="updateCart(product)">Add to cart</button>
    </nz-row>
    <nz-row class="margin-top-2">
      <a routerLink="/">
        <span nz-icon nzType="arrow-left" nzTheme="outline"></span> 
        Back to product list
      </a>
    </nz-row>
  </nz-col>
</nz-row>
